{{> menu id="About"}}

<section class="ui left aligned middle aligned segment">
  
    <h2> About the playlist app</h2>
      <p>
        more information about the app will be displayed here
      </p>

</section>
